## Question 1

```
docker --help build

Usage:  docker build [OPTIONS] PATH | URL | -

Build an image from a Dockerfile

Options:
      --add-host list           Add a custom host-to-IP mapping (host:ip)
      --build-arg list          Set build-time variables
      --cache-from strings      Images to consider as cache sources
      --disable-content-trust   Skip image verification (default true)
  -f, --file string             Name of the Dockerfile (Default is
                                'PATH/Dockerfile')
      --iidfile string          Write the image ID to the file
      --isolation string        Container isolation technology
      --label list              Set metadata for an image
      --network string          Set the networking mode for the RUN
                                instructions during build (default "default")
      --no-cache                Do not use cache when building the image
  -o, --output stringArray      Output destination (format:
                                type=local,dest=path)
      --platform string         Set platform if server is multi-platform
                                capable
      --progress string         Set type of progress output (auto, plain,
                                tty). Use plain to show container output
                                (default "auto")
      --pull                    Always attempt to pull a newer version of
                                the image
  -q, --quiet                   Suppress the build output and print image
                                ID on success
      --secret stringArray      Secret file to expose to the build (only
                                if BuildKit enabled):
                                id=mysecret,src=/local/secret
      --ssh stringArray         SSH agent socket or keys to expose to the
                                build (only if BuildKit enabled) (format:
                                default|<id>[=<socket>|<key>[,<key>]])
  -t, --tag list                Name and optionally a tag in the
                                'name:tag' format
      --target string           Set the target build stage to build.
```

## Question 2

```
docker run -it --entrypoint=bash python:3.9
root@232e18846823:/# pip list
Package    Version
---------- -------
pip        22.0.4
setuptools 58.1.0
wheel      0.38.4
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/usr/local/bin/python -m pip install --upgrade pip' command.
root@232e18846823:/#

```

# Preparation for next questions

```
docker run -it -e POSTGRES_USER="root" -e POSTGRES_PASSWORD="root" -e POSTGRES_DB="ny_taxi" -p 5432:5432 -v $(pwd)/ny_taxi_postgres_data:/var/lib/postgresql/data postgres:13
```

Download files

In [1]:
from urllib import request
URL = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"
response = request.urlretrieve(url=URL, filename="green_tripdata_2019-01.csv.gz")

URL2 = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"
response2 = request.urlretrieve(url=URL2, filename="taxi+_zone_lookup.csv")

In [2]:
import pandas as pd

In [4]:
df_green = pd.read_csv("green_tripdata_2019-01.csv.gz")
df_zone_lookup = pd.read_csv("taxi+_zone_lookup.csv")

In [5]:
df_green.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630918 entries, 0 to 630917
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               630918 non-null  int64
 1   lpep_pickup_datetime   630918 non-null  object
 2   lpep_dropoff_datetime  630918 non-null  object
 3   store_and_fwd_flag     630918 non-null  object
 4   RatecodeID             630918 non-null  int64
 5   PULocationID           630918 non-null  int64
 6   DOLocationID           630918 non-null  int64
 7   passenger_count        630918 non-null  int64
 8   trip_distance          630918 non-null  float64
 9   fare_amount            630918 non-null  float64
 10  extra                  630918 non-null  float64
 11  mta_tax                630918 non-null  float64
 12  tip_amount             630918 non-null  float64
 13  tolls_amount           630918 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  630918 non-null  float64
 16  total_amount           630918 non-null  float64
 17  payment_type           630918 non-null  int64
 18  trip_type              630918 non-null  int64
 19  congestion_surcharge   84538 non-null   float64
dtypes: float64(10), int64(7), object(3)
memory usage: 96.3+ MB

In [6]:
df_zone_lookup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [7]:
df_green.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [9]:
df_zone_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

Ingest the data

```
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"

docker run -it \
--network=pg-network \
green_taxi_ingest:v001 \
--user=root \
--password=root \
--host=pg-database \
--port=5432 \
--db=ny_taxi \
--table_name=green_taxi_trips \
--url=${URL}
```

In [10]:
from sqlalchemy import create_engine

user = "root"
password = "root"
server = "localhost"
port = 5432
database = "ny_taxi"

engine = create_engine(f"postgresql://{user}:{password}@{server}:{port}/{database}")

In [11]:
df_zone_lookup.to_sql(name="zones", con=engine, if_exists="replace")

265

## Question 3

SQL Query
```
SELECT COUNT(1)
FROM green_taxi_trips
WHERE SUBSTRING(lpep_pickup_datetime, 1, 10) = '2019-01-15'
AND SUBSTRING(lpep_dropoff_datetime, 1, 10) = '2019-01-15';
```

## Question 4

SQL Query
```
SELECT
    SUBSTRING(lpep_pickup_datetime, 1, 10) as pickup_date,
    MAX(trip_distance) as distance
FROM green_taxi_trips
GROUP BY pickup_date
ORDER BY distance DESC
LIMIT 1;
```
OR
```
SELECT
SUBSTRING(lpep_pickup_datetime, 1, 10) as pickup_date,
trip_distance
FROM green_taxi_trips
ORDER BY trip_distance DESC
LIMIT 1;
```

## Question 5

SQL Query
```
SELECT
    SUBSTRING(lpep_pickup_datetime, 1, 10) as pickup_date,
    passenger_count,
    COUNT(passenger_count)
FROM green_taxi_trips
WHERE SUBSTRING(lpep_pickup_datetime, 1, 10) = '2019-01-01'
GROUP BY pickup_date, passenger_count;
```

## Question 6

SQL Query
```
SELECT
	zpu."Zone" as pickup_zone,
	zdo."Zone" as drop_zone,
	t."tip_amount"
FROM
	green_taxi_trips t,
	zones zpu,
	zones zdo
WHERE
	t."DOLocationID" = zdo."LocationID" AND
	t."PULocationID" = zpu."LocationID" AND
	zpu."Zone" = 'Astoria'
ORDER BY t."tip_amount" DESC;
```